@charset "utf-8";

/* googleフォント読み込み */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');


body{
  margin:0;
  padding:0;
  width:100%;
  background: #939597;
}

.contents_wrapper {
  width:90%;
  margin: 0 auto;
  background: #F2F0E9; 
}

li {
  list-style: none;
}

button[disabled]{
    background:#DCDCDC;
}

/* トップページ */
#top_header {
  height: 300px;
}

.top_h1 {
  font-size: 100px;
  padding: 80px;
  font-family: 'Bowlby One', cursive;
}

#img_list {
  display: flex;
  justify-content: center;
}

/* トップページのフッター */
.top_footer {
  font-size:24px;
  line-height: 48px;
}

#top_btn {
  width: 400px;
  line-height: 80px;
  font-size: 40px;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  background:#FE646D; 
  margin: 20px auto 40px;
  box-shadow: 5px 5px gray; 
  margin-top: 40px;
  margin-bottom: 72px;
}

/*モーダル部分*/

.modal_back {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal_inner {
  background: #DCDCDC;
  width:70%;
  height: 500px;  
}

#modal_contents h1 {
  font-size: 24px;
  margin-bottom: 24px;
}

#modal_contents {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  padding: 12px;
  font-size: 14px;
}

#modal_txt {
  margin-bottom: 16px;
  
}

.modal_list {
  display: flex; 
  justify-content: flex-start;
  align-items: center; 
  height: 60px;
}

.modal_list img {
  width: 50px;
  height: 70px;
}

span {
  color:red;
}


#timeup_inner {
  background: #DCDCDC;
  width:70%;
  height: 300px;  
  text-align: center;
  font-family: 'Bowlby One', cursive;
  z-index: 10;
  transition: 2s;
}

#timeup_h1 {
  font-size: 72px;
}


.delete {
  display: none; 
}

#start{
  width:200px;
  height: 50px;
  margin: 20px auto;
  border-radius: 20px;
  background-color: black;
  /* box-shadow: 5px 5px gray; */
  color: white;
  font-size: 30px;
}



/* ここからメインページ!!!! */
#main_section {
  display: flex;
}

#janken_section,
#slot_section {
  width:50%;
  border:2px solid gray;
}

/* ヘッダー部分 */
header{
    height: 72px;
    text-align: center;
    font-family: 'Bowlby One', cursive;
}

h1 {
  font-size: 56px; 
}

/* タイマー部分 */

.content {
    background-color: black;
    font-weight: bold;
    color:white;
    width:300px;
    margin:0 auto ;
    padding:8px;
    text-align: center;
    font-size:48px;
}

.content p{
    margin:0;
    padding:0;
}


/* 対戦相手 */
#com_section { 
  height: 350px;
  display: flex;
  justify-content: center; 
}

#com_hand {
  text-align: center;
  width: 70%;
}

#com_hand img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

/* 結果部分 */
#result_section{
  text-align: center;
  font-weight: bold;
  position: absolute;
  top:50% ;
  z-index:5;
}

#result {
  font-family: 'Roboto', sans-serif;
  color: gray;
  opacity: 0.8;
  font-size: 80px;
}

#addscore {
  color: red;
  opacity: 0.8;
  font-size: 56px;
  /* transition: 2s; */
}

/* ボタン部分 */
#btn_section ul{ 
  padding: 0;
  display: flex;
  justify-content: space-around;
  width:100%;
  margin-top: 40px;
  margin-bottom: 20px; 
}

#btn_section li{
  text-align: center;
  list-style-type:none;
  background-color: silver;
  border-radius:20%;
  width:20%;
  cursor: pointer;
  box-shadow: 5px 5px #393f4c;
}

#btn_section li :hover {
  cursor: pointer;
  opacity: 0.5;
}

#btn_section li:active {
  box-shadow: none;
  position: relative;
  top:5px;
  left:5px;
}

#btn_section li img {
  width: 90%;
}

/* スロットゲーム */

/* ボタンのスタイルのリセット */
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  display: block;
}

#gauge-container {
  margin-top: 16px; 
}

#gauge-container p {
  margin-left: 8px;
}

#rate_gauge { 
  border: 2px solid gray;
  margin: 0 auto;
  width: 90%;
  height: 24px;
}

#gauge_inner {
  background: greenyellow;
  width: 100%;
  height: 100%;
}

.slot_box {
  width:90%;
  margin: 50px auto;
  height: 300px;
  display: flex;
  justify-content:center; 
}

.slot_window {
  border:2px solid gray;
  background-color: silver;
}

img {
  width: 100%;
}

.stop_btn {
  background: #619ECC;
  color: white;
  text-align: center;
  width: 80%;
  line-height: 40px;
  font-size: 20px;
  margin: 20px auto;
  font-weight: bold;
  border-radius: 20px; 
  box-shadow: 5px 5px gray; 
}

.spin_btn {
  width: 300px;
  line-height: 80px;
  font-size: 40px;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  background:#FE646D; 
  
  margin: 20px auto 40px;
  box-shadow: 5px 5px gray; 
}

/*ボタンをホバー*/
.btn:hover,
.btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* ボタンを押したとき */
.btn:active,
.btn:active {
  box-shadow: none;
  position: relative;
  top:5px;
  left: 5px;
}

/* フッター部分 */
footer{
    background-color: #F6DF4F;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 48px;
}

